// https://kuler.adobe.com/Copper-Accents-color-theme-1085214/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20Copper%20Accents&mode=rgb&rgbvalues=0.7490196078431373,0.403921568627451,0.023529411764705882,0.6549019607843137,0.30196078431372547,0,0.45098039215686275,0.21176470588235294,0,0.2980392156862745,0.11764705882352941,0,0.24705882352941178,0.09803921568627451,0&swatchOrder=0,1,2,3,4
$copper-one: #a74d00;
$copper-three: #bf6706;
$copper-five: #3f1900;
