@import 'colours';
@import 'foundation/foundation';

.atmospheric {
  height: 40vh;
  position: relative;

  @media #{$medium-up} {
    height: 55vh;
  }

  @media #{$large-up} {
    height: 70vh;
  }
}

.title {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;

  color: $white;
  font-weight: 800;
  line-height: 1;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);

  @media #{$medium-up} {
    font-size: rem-calc(50);
  }

  @media #{$large-up} {
    font-size: rem-calc(66);
  }
}
