@import 'normalize';

@import url(https://fonts.googleapis.com/css?family=Vollkorn);

@import 'colours';
@import 'foundation/settings';
@import 'foundation';

main {
  $padding-y: rem-calc(30);

  padding-bottom: $padding-y;
  padding-top: $padding-y;
}

footer {
  $padding-y: rem-calc(20);

  background: $topbar-bg-color;
  padding-bottom: $padding-y;
  padding-top: $padding-y;

  &,
  a,
  a:hover {
    color: $topbar-link-color;
  }

  a,
  a:hover {
    text-decoration: underline;
  }

  p {
    font-size: smaller;
  }
}

.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
}

@import 'magnific_popup';
